html,body{
	height: 100%;
}
#header_bcg{
  width: 120%;
  height: 100px;
}
#nav_container.container{
	  margin-left: -50px;
    margin-bottom: 30px;
    height: 100px;
    width: 1150px;
}
#logo{
  margin-top: 10px;
	width:88px;
	height:98px;
	margin-left: 4%;
}

.logo_container {
	color: black;
  background-image: url("../images/34.jpg");
}

.page{
	margin-left: 2%;
	margin-right: 2%;
}

.topic_title{
  
  margin-left: -19px;
	margin-bottom:5%;
  margin-top: 3%;
	font-size: 29px;
}
/*footer*/
footer{
  width:100%;
  height:100px;
  text-align: center;
  background-color: #90B3AD;
  display: inline-block;
  padding: 10px;
  font-size: 24px;
}

  
}
#footer_text {
 font-size: 20px;
 color: white;
}
.footer_claim{
  font-size:15px !important;
  font-family: times !important;
  color:black !important;
}

/*===================second_level_topic_title second_noise.css======================*/


/*===================================second_level_topic_boxes====================*/
@charset "UTF-8";
@font-face {
  
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/glyphicons.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/glyphicons.eot?#iefix") format("eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/glyphicons.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/glyphicons.ttf") format("truetype"), url("../fonts/glyphicons.svg#glyphicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.section-subtopics {
    margin-top: 17rem;
    margin-left: 4%;
    font-family: "Verdana, Geneva", sans-serif;
}

a {
  color: #FFA964;
  text-decoration: none;
}

.subtopics-box-cntr:first-child {
  margin-top: 0;
}

.subtopics-box {
  border: 2px solid transparent;
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  height: 200px;

}
.subtopics-box:before {
  border-radius: 50%;
  content: "";
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100px;
  will-change: transform, opacity;
  z-index: 0;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}
.subtopics-box:hover {
  cursor: pointer;
}
.subtopics-box:hover:before {
  opacity: 1;
  -moz-transform: scale3d(3.4, 3.4, 1);
  -ms-transform: scale3d(3.4, 3.4, 1);
  -webkit-transform: scale3d(3.4, 3.4, 1);
  transform: scale3d(3.4, 3.4, 1);
}
.subtopics-box:hover i, .subtopics-box:hover h4, .subtopics-box:hover p, .subtopics-box:hover a {
  position: relative;
  z-index: 2;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.subtopics_box_title {
  margin: 0.375rem 0 0 0;
  font-size: 2rem;
}

.subtopics-box_glyphicon {
  font-size: 2.5rem;
}
.subtopics-box-green {
  color: #53D0B8;
  border-color: #53D0B8;
}
.subtopics-box-green .subtopics-box__title {
  color: inherit;
  font-size: 40px;
}
.subtopics-box-green:before {
  background-color: #53D0B8;
  border: 1px solid #53D0B8;
}
.subtopics-box-green:hover {
  color: white;
}
.subtopics-box-green:hover a {
  color: white;
}

.subtopics-box-orange {
  color: #FFA964;
  border-color: #FFA964;
  font-size: 40px;
}
.subtopics-box-orange .subtopics_box_title {
   font-size: 40px;
  color: inherit;
}
.subtopics-box-orange:before {
  background-color: #FFA964;
  border: 1px solid #FFA964;
}
.subtopics-box-orange:hover {
  color: white;
}
.subtopics-box-orange:hover a {
  color: white;
}
.subtopics-box-orange:hover a {
  font-size: 40px;
  color: white;
}
.subtopics-box-green {
  color: #53D0B8;
  border-color: #53D0B8;
}
.subtopics-box-green .subtopics-box__title {
  color: inherit;
}
.subtopics-box-green {
  color: #53D0B8;
  border-color: #53D0B8;
  font-size: 40px;
}
.subtopics-box-green .subtopics_box_title {
  font-size: 40px;
  color: inherit;
}
.subtopics-box-green:before {
  background-color: #53D0B8;
  border: 1px solid #53D0B8;
}

.subtopics-box-green:hover {
  color: white;
}
.subtopics-box-green:hover a {
  color: white;
}
.glyphicon {
  line-height: 20px;
  font-size: 50px;
}
.glyphicon:before {
  display: inline-block;
  font-family: "glyphiconns";
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
./*glyphicon-clock:before {
  content: "";
}
.glyphicon-envelope:before {
  content: "";
}
.glyphicon-phone:before {
  content: "";
}
.glyphicon-clock:before {
  content: "";
}*/
/*===================================*/





.map_page{
	float: left;
}


.search {
  width: 300px;
  height: 40px;
  margin-left: 600px;
  padding-left: 10px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #26A69A;
}

.search input {
  width: 300px;
  padding-left: 200px 5px;
  float: left;
  color: #fff;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.search input:focus {outline: 0;background:transparent;}

.search button {
  position: absolute;
  left: 940px;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #26A69A;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}   

.search button:hover {background: #26A69A;color:#fff;}
.search button:active {box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}

.search button:focus {outline: 0;}




